.row {
  background: white;
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
  padding: 10px;
  cursor: move;
  width: 100%;
  box-sizing: border-box;
}

.row.dragging {
  background: red;
  opacity: 1.0;
}

.droparea {
  height: 5px;
  background: yellow;
}

.droparea.expand {
  height: 50px;
}

.block {
  width: 100px;
  height: 100px;
  background: red;
}

.detach {
  position: absolute;
}
