.arrangeable-array
  overflow: hidden
  margin-top: -5px

  .row
    position: relative
    border-bottom: 1px solid #e8e8e8
    border-top: 1px solid #e8e8e8
    cursor: move
    width: 100%
    margin-top: 5px
    height: 30px

    &.expand
      margin-top: 42px

    &.last
      cursor: default
      height: 5px
      border: 0 none
      padding: 0

  [class^="icon-"], [class*=" icon-"]
    font-size: 14px
    color: #787878

  .col1, .col2 
    position: absolute
    top: 4px

  .col1 
    top: 5px
    left: 10px
    right: 50px

  .col2 
    right: 0
    width: 35px
    border-left: 1px solid #e3e3e3
    text-align: center
  
  button 
    cursor: pointer
    padding: 0
    background: none
    border: 0 none
    font-size: 14px
